@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

/* 
=================
Global Styles
=================
*/
:root {
  --color-style-1: #ffffff;
  --color-style-2: #011119;
  --color-style-3: #8ecae6;
  --color-style-4: #f2f2f2;
  --color-style-5: #219ebc;
  --color-style-6: #ffb703;
  --color-style-7: #fb8500;
  --color-style-8: #808080;
  --color-style-9: #219ebc;
  --color-style-10: #b4dcee;
  --color-style-11: rgba(232, 244, 250, 0.4);
  --font-family-1: "Arima Madurai", sans-serif;
  --font-family-2: "Archivo", sans-serif;
  --transition: all 0.3s linear;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
span,
button,
p,
label,
input {
  font-family: var(--font-family-2);
}
body {
  background: var(--color--4);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
.section {
  padding: 2rem 1rem;
}

.section-title {
  text-align: center;
  font-family: var(--font-family-1);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 33px;
}
@media screen and (min-width: 920px) {
  .section-title {
    font-size: 2rem;
    line-height: 70px;
  }
}
/* 
=================
End of Global Styles
=================
*/
/* 
=================
Header
=================
*/
nav {
  height: 5rem;
  display: grid;
  align-items: center;
}
.nav-container {
  background: var(--color-style-2);
  padding: 1rem 2rem;
}
@media screen and (max-width: 920px) {
  .nav-container {
    padding: 1rem 1rem;
  }
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo-container {
  width: 2rem;
  height: 2rem;
}
.logo {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}
.logo-title {
  display: grid;
  align-items: center;
  height: auto;
  cursor: pointer;
}
.logo-text {
  font-family: var(--font-family-1);
  color: var(--color-style-3);
  text-transform: uppercase;
  font-size: 1.25rem;
}
.hamburger--btn {
  cursor: pointer;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.links {
  font-family: var(--font-family-2);
  font-size: 0.85rem;
  border-bottom: 2px solid transparent;
  color: var(--color-style-4);
  transition: var(--transition);
  text-transform: capitalize;
  cursor: pointer;
}
.links:hover {
  color: var(--color-style-3);
  border-bottom: 2px solid var(--color-style-3);
}
.signing {
  display: flex;
  gap: 1rem;
}
.btn {
  border: 2px solid var(--color-style-3);
  padding: 0.5rem 1.25rem;
  border-radius: 0.35rem;
  width: 6rem;
  cursor: pointer;
}
.btn--1 {
  color: var(--color-style-2);
  background: var(--color-style-3);
  transition: var(--transition);
}
.btn--2 {
  color: var(--color-style-3);
  background: var(--color-style-2);
  transition: var(--transition);
}
.btn--1:hover {
  background: var(--color-style-10);
  border-color: var(--color-style-10);
}
.btn--2:hover {
  background: var(--color-style-11);
}
@media screen and (max-width: 920px) {
  .nav-links-container,
  .signing {
    display: none;
  }
}
@media screen and (min-width: 920px) {
  .nav-button {
    display: none;
  }
}

.main-title {
  text-align: center;
  color: var(--color-style-1);
  font-family: var(--font-family-1);
  margin-right: auto;
  margin-left: auto;
  max-width: 18.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 50px;
}
/* 
=================
End of Header
=================
*/
/* 
=================
Explore
=================
*/
.mobile-explore-user {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
  align-items: center;
  background: #d1f4fd;
}
.user-sidebar {
  display: grid;
  position: absolute;
  background: var(--color-style-1);
  padding: 1rem;
  margin-left: -8rem;
  width: 10rem;
  margin-top: 2rem;
}
.user-sidebar-toggle {
  display: none;
}
.user-links {
  color: var(--color-style-8);
  text-align: center;
  padding: 0.3rem;
}
.user-profile-cont {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.arrow {
  margin-left: 0.4rem;
  background: transparent;
  border: none;
  display: block;
  cursor: pointer;
}
.notify-bell {
  border: 2px solid #0d0d0d;
  width: 3rem;
  height: 3rem;
  display: block;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.icon-color {
  width: 2rem;
  height: 2rem;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  display: grid;
  align-items: center;
  justify-content: center;
}

.fa-bell::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: red;
}
.user-image-cont {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.user-iamge {
  width: 100%;
  height: 100%;
  display: block;
}
.user-name h6 {
  font-size: 1rem;
  font-family: var(--font-family-2);
}
.explore-search {
  background: url("./Images/SearchOutline.svg") no-repeat scroll 7px 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid var(--color-style-8);
  height: 3rem;
  /* width: 20rem; */
  margin-right: auto;
  margin-left: auto;
  width: 150%;
  border-radius: 0.35rem;
}
@media screen and (min-width: 425px) {
  .explore-search {
    width: 200%;
  }
}
@media screen and (min-width: 768px) {
  .explore-search {
    width: 300%;
  }
}
.explore-search::placeholder {
  color: var(--color-style-8);
  padding-left: 35px;
  display: grid;
  align-items: center;
}
.explore-search-big {
  display: none;
}
.big-search-icon {
  display: none;
}
.mobile-explore-user-big {
  display: none;
}
.form-explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.form-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 1170px) {
  .form-group {
    width: 30%;
  }
  .form-cont {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}
@media screen and (min-width: 920px) {
  .explore-header {
    justify-content: space-between;
  }

  .explore-search {
    display: none;
  }
  .explore-search-big {
    background: url("./Images/SearchOutline.svg") no-repeat scroll 7px 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 2px solid var(--color-style-8);
    height: 3rem;
    width: 300%;
    border-radius: 1.5rem;
    display: block;
  }
  .explore-search-big::placeholder {
    color: var(--color-style-8);
    padding-left: 35px;
    display: grid;
    align-items: center;
  }
  .small-search-icon {
    display: none;
  }
  .big-search-icon {
    display: block;
  }
  .mobile-explore-user-big {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    background: #ffffff;
  }
  .mobile-explore-user {
    display: none;
  }
  .user-profile-cont {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
  .explore-center {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .form-explore {
    min-width: 90vw;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
  .form-cont-big {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .notify-bell {
    border: 2px solid transparent;
    margin-right: 1rem;
  }
  .arrow {
    margin-left: 1rem;
    background: transparent;
    border: none;
    display: block;
    cursor: pointer;
  }
}
.explore-tag-center {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.small-explore-tag {
  display: none;
}
.explore-landing-center {
  padding: 2rem 1rem;
}
@media screen and (min-width: 920px) {
  .small-explore-tag {
    display: inline-flex;
  }
}
/* 
=================
End of Explore
=================
*/

/* 
=================
Footer
=================
*/
.footer-container {
  padding: 2rem 3rem;
  background: var(--color-style-2);
}
.footer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.foot-bot {
  display: flex;
  align-items: center;
}

.footer-title {
  font-family: var(--font-family-1);
  color: var(--color-style-4);
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.footer-info {
  max-width: 12rem;
  color: var(--color-style-4);
  margin-bottom: 1.5rem;
}
.search {
  background-color: var(--color-style-2);
  background: url("./Images/search.svg") no-repeat scroll 7px 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid var(--color-style-4);
  height: 3rem;
  width: 20rem;
  border-radius: 0.35rem;
}
.search::placeholder {
  color: var(--color-style-4);
  text-transform: capitalize;
  padding-left: 35px;
  display: grid;
  align-items: center;
}
.icons {
  margin: 2rem 0;
  display: flex;
  gap: 0.75rem;
}
.icons-container {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-image {
  height: 100%;
  width: 100%;
}
.lower {
  text-transform: lowercase;
  font-family: var(--font-family-1);
}
.email--ad {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 16px;
  margin-top: 0.5rem;
  border: 2px solid var(--color-style-4);
  height: 3rem;
  width: 20rem;
  display: block;
  border-radius: 0.35rem;
  background: transparent;
}
.email--ad::placeholder {
  color: var(--color-style-4);
}
.newsletter {
  margin-bottom: 1rem;
  color: var(--color-style-4);
}
.email-btn {
  color: var(--color-style-2);
  background: var(--color-style-3);
  transition: var(--transition);
  height: 3rem;
  width: 20rem;
}
.email-btn:hover {
  background: var(--color-style-10);
  border-color: var(--color-style-10);
}
.foot {
  margin-bottom: 1rem;
}
.footer-bottom {
  display: flex;
  gap: 0.75rem;
  font-family: var(--font-family-2);
  color: var(--color-style-4);
  align-items: center;
}
.company {
  font-family: var(--font-family-1);
  text-transform: capitalize;
}
.footer-logo {
  background: var(--color-style-8);
  width: 7rem;
  height: 2rem;
  border-radius: 0.35rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  align-items: center;
}
.footer-logo p {
  color: var(--color-style-4);
}
.world-cont {
  width: 1.15rem;
  height: 1.15rem;
}
.atlas {
  height: 100%;
  width: 100%;
}
#date {
  font-family: var(--font-family-1);
}
@media screen and (max-width: 920px) {
  .footer-center {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .search,
  .email-btn,
  .email--ad {
    width: 18rem;
  }
}
/* 
=================
End of Footer
=================
*/
/* 
=================
Mobile Screen
=================
*/
@media screen and (max-width: 920px) {
  .footer-center {
    display: none;
  }
  .mobile-newsletter {
    display: grid;
    /* justify-content: center; */
    width: 100%;
  }
  .mobile-form {
    /* width: 21.375rem; */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .mobile-news {
    width: 100%;
    /* margin-right: aut; */
    margin-left: 0;
  }
  .footer-mobile-title {
    text-align: center;
  }
  .mobile-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  .mobile-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .mobile-title {
    text-align: center;
  }
  .mobile-footer-center {
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
  }
  .terms {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.68rem;
    margin-bottom: 1.5rem;
  }
  .logo--2 {
    justify-content: space-between;
  }
}
@media screen and (min-width: 920px) {
  .mobile-footer-center {
    display: none;
  }
}
/* 
=================
End of Mobile Screen
=================
*/

/* 
=================
Modal overlay
=================
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 100;
}
.remove-overlay {
  visibility: hidden;
  opacity: 0;
}

/* 
=================
End of modal overlay
=================
*/
/* 
=================
Aside
=================
*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: var(--color-style-2);
  transition: all 0.1s linear;
  transform: translate(0);
  padding-top: 1rem;
  z-index: 200;
}
.sidebar-close {
  transform: translate(100%);
}
.close {
  position: absolute;
  right: 0;
  padding-right: 1rem;
  display: block;
  transition: var(--transition);
  cursor: pointer;
}
.sidebar-links {
  margin-top: 3rem;
  text-align: center;
  padding: 0 1rem;
}
.side-links {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  width: 7rem;
  margin-right: auto;
  margin-left: auto;
}
.side-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
}
/* 
=================
End of Aside
=================
*/
