@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

/* 
=================
Global Styles
=================
*/
:root {
  --color-style-1: #f2f2f2;
  --color-style-2: #011119;
  --color-style-3: #8ecae6;
  --color-style-4: #f2f2f2;
  --color-style-5: #219ebc;
  --color-style-6: #ffb703;
  --color-style-7: #fb8500;
  --color-style-8: #808080;
  --color-style-9: #219ebc;
  --color-style-10: #b4dcee;
  --color-style-11: rgba(232, 244, 250, 0.4);
  --color-style-12: #a7a7a7;
  --font-family-1: "Arima Madurai", sans-serif;
  --font-family-2: "Archivo", sans-serif;
  --transition: all 0.3s linear;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
span,
button,
p,
label,
input {
  font-family: var(--font-family-2);
}
body {
  background: var(--color--4);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
.section {
  padding: 2rem 1rem;
}

.section-title {
  text-align: center;
  font-family: var(--font-family-1);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 33px;
}
@media screen and (min-width: 920px) {
  .section-title {
    font-size: 2rem;
    line-height: 70px;
  }
}
/* 
================
login page
===============
*/

#login-form {
  background-color: var(--color-style-1);
  padding: 0 100px 100px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#form--login {
  font-family: "Archivo", sans-serif;
  color: #808080;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-top: 3rem;
}
#form--login input {
  border-radius: 8px;
  border: 2px solid #808080;

  outline: none;
}
#form--login input:focus {
  border: 2px solid #8ecae6;
  outline: none;
}
#login-form img {
  width: 400px;
  height: 400;
  margin-right: 100px;
}
.login-title {
  max-width: 375px;
  text-align: center;
  color: #161616;
  font-family: "Arima Madurai", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 82px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.email,
.password,
.sub-btn {
  display: block;
  padding: 10px;
  margin: 12px 2px;
  width: 500px;
  border-radius: 2px;
}
.sub-btn {
  padding: 16px 40px;
  margin-top: 3rem;
  background: #8ecae6;
  border-radius: 8px;
  border-style: none;
  font-size: 16px;
}
.input--check {
  display: flex;
  height: 1rem;
  align-items: center;
}
.small-check {
  margin-right: 1.25rem;
}
.input--checkbox {
  display: flex;
  justify-content: space-between;
}
.login--image {
  display: grid;
}
@media screen and (max-width: 920px) {
  #login-form {
    flex-direction: column;
    width: 100%;
  }
  #login-form img {
    max-width: 100%;
  }
  .login-title {
    font-size: 2rem;
  }
  #form--login {
    font-size: 15px;
  }
  #form--login input {
    width: 100%;
  }
  .sub-btn {
    width: 100%;
  }
  .login--image {
    display: none;
  }

  .input--check {
    display: flex;
    height: 1rem;
    align-items: center;
  }
  .small-check {
    margin-right: 1.25rem;
  }
  .input--checkbox {
    display: flex;
    justify-content: space-between;
  }
}
