* {
  box-sizing: border-box;
}
#login-form {
  background-color: #c4c1c1;
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}
#form-login {
  margin-top: 100px;
  font-family: "Archivo", sans-serif;
  color: #808080;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
#form-login input {
  border-radius: 8px;
  outline: none;
}
#form-login input:focus {
  border: 2px solid #8ecae6;
  outline: none;
}
#login-form img {
  width: 400px;
  height: 400;
  margin-right: 100px;
}
.login-title {
  width: 375px;
  height: 82px;
  text-align: center;
  position: absolute;
  top: 120px;
  right: 250px;
  color: #161616;
  font-family: "Arima Madurai", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 82px;
}
.email,
.password,
.sub-btn {
  display: block;
  padding: 10px;
  margin: 12px 2px;
  width: 500px;
  border-radius: 2px;
}
.sub-btn {
  padding: 16px 40px;
  margin-top: 3rem;
  background: #8ecae6;
  border-radius: 8px;
  border-style: none;
}
@media screen and (max-width: 600px) {
  #login-form {
    flex-direction: column;
    width: 100%;
  }
  #login-form img {
    max-width: 100%;
  }
  .login-title {
    font-size: 2rem;
    top: 450px;
    left: 50px;
  }
  #form--login {
    font-size: 15px;
  }
  #form--login input {
    width: 100%;
  }
}
