{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock extra_css %}

{% block content %}
<!-- Register Form START -->
<main class="signup-page">
  <div class="img-form-div">
    <div class="mob-login-img">
      <img src="{% static 'images/Mobile login-bro 1.svg' %}" alt="">
    </div>
      <div>
        <form action="" class="form--login">
          <h1>Sign up here</h1>
          <label for="">Full name</label>
          <input type="text" placeholder="Type full name here" class="input--border">

          <label for="">Student email address</label>
          <input type="email" placeholder="Enter email address here" required class="input--border">

          <label for="">Enter password</label>
          <input type="password" placeholder="Type password here" class="input--border" required>

          <label for="">Confirm password</label>
          <input type="password" placeholder="Type password here again" class="input--border" required>

          <label for="" class="col-id">College ID </label>
            
            <label for="file" class="label-file">
              <input type="file" class="id-file" class="input--border" required>
              Upload</label>
        
          <label for="checkbox" class="checkbox">
            <input type="checkbox" class="input--border" style="height:20px; width: 30px;" required>
            I agree to the <span class="signup-terms">Terms & Conditions </span>  and <span class="signup-terms"> Privacy Policy.</span></label>
      
          <button class="signup--button">Sign up</button>
      </form>
      </div>
  </div>
</main>
<!-- Register Form END -->
{% endblock content %}
