{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Coreels Team Members</title>
{% endblock title %}

{% block content %}
<!-- Team page START -->
<main class="main">
    <section class="members section">
      <div class="section-title">
        <h2 class="title">Meet our team</h2>
      </div>
      <div class="leader-container">
        <div class="lead-image-container">
          <img src="{% static 'images/image-one.png' %}" alt="image one" class="leader" />
        </div>
        <div class="lead">
          <div></div>
          <div>
            <h3 class="lead-name">Jemima Ameobi</h3>
            <p class="lead-title">Team Leader</p>
            <p class="phone">000000000000 / Jemmy34@gmail.com</p>
          </div>
        </div>
      </div>
      <p class="team-des">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
        mollitia aspernatur assumenda iste nihil expedita tenetur debitis, dolor
        eum optio adipisci ullam nemo soluta temporibus pariatur velit iure, ex
        delectus!
      </p>
      <h2 class="small-title">Team members</h2>
  
      <div class="team-center">
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
  
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
        <div class="team-member">
          <div class="member-cont">
            <img
              src="{% static 'images/image-two.png' %}"
              alt="member name"
              class="member-image"
            />
          </div>
          <h5 class="member-name">Ajao Jelili</h5>
          <p class="member-title">UX Designer</p>
        </div>
      </div>
    </section>
</main>
<!-- Team page END -->
{% endblock content %}