@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

/* 
=================
Global Styles
=================
*/
:root {
  --color-style-1: #ffffff;
  --color-style-2: #011119;
  --color-style-3: #8ecae6;
  --color-style-4: #f2f2f2;
  --color-style-5: #219ebc;
  --color-style-6: #ffb703;
  --color-style-7: #fb8500;
  --color-style-8: #808080;
  --color-style-9: #219ebc;
  --color-style-10: #b4dcee;
  --color-style-11: rgba(232, 244, 250, 0.4);
  --font-family-1: "Arima Madurai", sans-serif;
  --font-family-2: "Archivo", sans-serif;
  --transition: all 0.3s linear;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
span,
button,
p,
label,
input {
  font-family: var(--font-family-2);
}
body {
  background: var(--color--4);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
.section {
  padding: 2rem 1rem;
}

.section-title {
  text-align: center;
  font-family: var(--font-family-1);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 33px;
}
@media screen and (min-width: 920px) {
  .section-title {
    font-size: 2rem;
    line-height: 70px;
  }
}
/* 
=================
End of Global Styles
=================
*/
/* 
=================
Header
=================
*/
nav {
  height: 5rem;
  display: grid;
  align-items: center;
}
.nav-container {
  background: var(--color-style-2);
  padding: 1rem 2rem;
}
@media screen and (max-width: 920px) {
  .nav-container {
    padding: 1rem 1rem;
  }
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo-container {
  width: 2rem;
  height: 2rem;
}
.logo {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}
.logo-title {
  display: grid;
  align-items: center;
  height: auto;
  cursor: pointer;
}
.logo-text {
  font-family: var(--font-family-1);
  color: var(--color-style-3);
  text-transform: uppercase;
  font-size: 1.25rem;
}
.hamburger--btn {
  cursor: pointer;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.links {
  font-family: var(--font-family-2);
  font-size: 0.85rem;
  border-bottom: 2px solid transparent;
  color: var(--color-style-4);
  transition: var(--transition);
  text-transform: capitalize;
  cursor: pointer;
}
.links:hover {
  color: var(--color-style-3);
  border-bottom: 2px solid var(--color-style-3);
}
.signing {
  display: flex;
  gap: 1rem;
}
.btn {
  border: 2px solid var(--color-style-3);
  padding: 0.5rem 1.25rem;
  border-radius: 0.35rem;
  width: 6rem;
  cursor: pointer;
}
.btn--1 {
  color: var(--color-style-2);
  background: var(--color-style-3);
  transition: var(--transition);
}
.btn--2 {
  color: var(--color-style-3);
  background: var(--color-style-2);
  transition: var(--transition);
}
.btn--1:hover {
  background: var(--color-style-10);
  border-color: var(--color-style-10);
}
.btn--2:hover {
  background: var(--color-style-11);
}
@media screen and (max-width: 920px) {
  .nav-links-container,
  .signing {
    display: none;
  }
}
@media screen and (min-width: 920px) {
  .nav-button {
    display: none;
  }
}

.main-title {
  text-align: center;
  color: var(--color-style-1);
  font-family: var(--font-family-1);
  margin-right: auto;
  margin-left: auto;
  max-width: 18.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 50px;
}
/* 
=================
End of Header
=================
*/
/* 
=================
Beginning of Header
=================
*/
.signup-page {
  background: var(--color-style-1);

  /* You can change this styles as you wish */
}
.form--login input:focus {
  border: 2px solid #8ecae6;
  outline: none;
}
.img-form-div {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 40px;
}
.input--border {
  display: block;
  padding: 10px;
  margin: 4px 2px;
}
.mob-login-img img {
  height: 600px;
}
.form--login {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 10px;
  color: var(--color-style-8);
  height: 80%;
}

.form--login h1 {
  font-family: "Arima Madurai", cursive;
  font-size: 54px;
  color: var(--color-style-2);
  text-align: center;
}

.form--login input {
  border-radius: 5px;
  border: 2px solid #808080;
  height: 60px;
  padding-left: 8px;
  cursor: pointer;
  background-color: transparent;
}

.form--login input[type="file"] {
  border: none;
}
.id-file {
  color: transparent;
}

.id-file::-webkit-file-upload-button {
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.id-file::before {
  content: "Upload college identity card here";
  display: inline-block;
  cursor: pointer;
  color: var(--color-style-8);
  padding-top: 8px;
}

.label-file {
  cursor: pointer;
  border: 1px solid #808080;
  border-radius: 8px;
  height: 40px;
  flex-direction: column;
  color: var(--color-style-2);
}

.checkbox {
  display: flex;
  align-items: center;
}

.form--login button {
  background-color: var(--color-style-3);
  border: none;
  border-radius: 8px;
  height: 60px;
  color: var(--color-style-2);
  font-family: "Archivo";
  font-weight: 400;
  margin-top: 12px;
  transition: var(--transition);
  padding: 1rem 1.25rem;
}

.form--login button:hover {
  cursor: pointer;
  background: var(--color-style-10);
}

.signup-terms {
  color: var(--color-style-3);
  padding-left: 0.1rem;
}

@media screen and (max-width: 920px) {
  .mob-login-img {
    display: none;
  }

  .form--login {
    width: 90%;
    justify-content: center;
    justify-self: center;
  }
}

@media screen and (max-width: 920px) {
  .form--login {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .form--login h1 {
    font-size: 30px;
  }

  .checkbox {
    display: flex;
    font-size: 10px;
  }

  .label-file {
    font-size: 14px;
    display: flex;
    flex-direction: row;
  }
  .signup-page {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 320px) {
  .form--login {
    width: 75%;
  }
}

/* 
=================
Footer
=================
*/
.footer-container {
  padding: 2rem 3rem;
  background: var(--color-style-2);
}
.footer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.foot-bot {
  display: flex;
  align-items: center;
}

.footer-title {
  font-family: var(--font-family-1);
  color: var(--color-style-4);
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.footer-info {
  max-width: 12rem;
  color: var(--color-style-4);
  margin-bottom: 1.5rem;
}
.search {
  background-color: var(--color-style-2);
  background: url("../images/search.svg") no-repeat scroll 7px 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid var(--color-style-4);
  height: 3rem;
  width: 20rem;
  border-radius: 0.35rem;
}
.search::placeholder {
  color: var(--color-style-4);
  text-transform: capitalize;
  padding-left: 35px;
  display: grid;
  align-items: center;
}
.icons {
  margin: 2rem 0;
  display: flex;
  gap: 0.75rem;
}
.icons-container {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-image {
  height: 100%;
  width: 100%;
}
.lower {
  text-transform: lowercase;
  font-family: var(--font-family-1);
}
.email--ad {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 16px;
  margin-top: 0.5rem;
  border: 2px solid var(--color-style-4);
  height: 3rem;
  width: 20rem;
  display: block;
  border-radius: 0.35rem;
  background: transparent;
}
.email--ad::placeholder {
  color: var(--color-style-4);
}
.newsletter {
  margin-bottom: 1rem;
  color: var(--color-style-4);
}
.email-btn {
  color: var(--color-style-2);
  background: var(--color-style-3);
  transition: var(--transition);
  height: 3rem;
  width: 20rem;
}
.email-btn:hover {
  background: var(--color-style-10);
  border-color: var(--color-style-10);
}
.foot {
  margin-bottom: 1rem;
}
.footer-bottom {
  display: flex;
  gap: 0.75rem;
  font-family: var(--font-family-2);
  color: var(--color-style-4);
  align-items: center;
}
.company {
  font-family: var(--font-family-1);
  text-transform: capitalize;
}
.footer-logo {
  background: var(--color-style-8);
  width: 7rem;
  height: 2rem;
  border-radius: 0.35rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  align-items: center;
}
.footer-logo p {
  color: var(--color-style-4);
}
.world-cont {
  width: 1.15rem;
  height: 1.15rem;
}
.atlas {
  height: 100%;
  width: 100%;
}
#date {
  font-family: var(--font-family-1);
}
@media screen and (max-width: 920px) {
  .footer-center {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .search,
  .email-btn,
  .email--ad {
    width: 18rem;
  }
}
/* 
=================
End of Footer
=================
*/
/* 
=================
Mobile Screen
=================
*/
@media screen and (max-width: 920px) {
  .footer-center {
    display: none;
  }
  .mobile-newsletter {
    display: grid;
    /* justify-content: center; */
    width: 100%;
  }
  .mobile-form {
    /* width: 21.375rem; */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .mobile-news {
    width: 100%;
    /* margin-right: aut; */
    margin-left: 0;
  }
  .footer-mobile-title {
    text-align: center;
  }
  .mobile-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  .mobile-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .mobile-title {
    text-align: center;
  }
  .mobile-footer-center {
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
  }
  .terms {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.68rem;
    margin-bottom: 1.5rem;
  }
  .logo--2 {
    justify-content: space-between;
  }
}
@media screen and (min-width: 920px) {
  .mobile-footer-center {
    display: none;
  }
}
/* 
=================
End of Mobile Screen
=================
*/

/* 
=================
Modal overlay
=================
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 100;
}
.remove-overlay {
  visibility: hidden;
  opacity: 0;
}

/* 
=================
End of modal overlay
=================
*/
/* 
=================
Aside
=================
*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: var(--color-style-2);
  transition: all 0.1s linear;
  transform: translate(0);
  padding-top: 1rem;
  z-index: 200;
}
.sidebar-close {
  transform: translate(100%);
}
.close {
  position: absolute;
  right: 0;
  padding-right: 1rem;
  display: block;
  transition: var(--transition);
  cursor: pointer;
}
.sidebar-links {
  margin-top: 3rem;
  text-align: center;
  padding: 0 1rem;
}
.side-links {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  width: 7rem;
  margin-right: auto;
  margin-left: auto;
}
.side-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
}
/* 
=================
End of Aside
=================
*/
