 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta_tags %}

    <title>COREELS - Best Short Movies For College Students And From College Students</title>
</head>
<body>
    {% block content %}
    <h1 style="text-align: center;">COREELS - Best Short Movies From College Students</h1>
    {% endblock content %}
</body>
</html>